<p class="summary">
	I am an undergraduate student at Brigham Young University, majoring in computer science, set to graduate December
	2016. I am seeking an internship for the summer of 2016.
</p>

<section>
	<h2>Work Summary</h2>
	<div class="jobs">
		{{#each jobs}}
				<div class="job {{#if current}}flexFullRow{{/if}}">
				<div class="jobInfo">
					<div class="jobTitle">{{title}}</div>
					<div class="time">{{time}}</div>
					<div class="employer">{{employer}}</div>
					<div class="location"> {{location}}</div>
				</div>
				<div class="taskList">
					<ul class="taskList">
					{{#each tasks}}
						<li class="task">{{this}}</li>
					{{/each}}
					</ul>
				</div>
			</div>
		{{/each}}
	</div>
</section>

<section>
	<h2>Skills</h2>

	<h3>Languages and Frameworks</h3>
	<div class="languageList">
		{{#each skills.languagesAndFrameworks}}
			<div class="language {{languageName main}}">
				<div class="name">{{main}}</div>
<!--
				{{#each related}}
					<div class="relatedLanguage">{{this}}</div>
				{{/each}}
-->
			</div>
		{{/each}}
	</div>

	<h3>Computer Science Courses</h3>
	<div class="courseList">
		{{#each skills.csCoursesComplete}}
			<div class="course{{#each languages}} {{languageName this}}{{/each}}">
				<div class="courseNumber">CS {{number}}</div>
				<div class="courseTitle">{{title}}</div>
			</div>
		{{/each}}
		{{#each skills.csCoursesCurrent}}
			<div class="course{{#each languages}} {{languageName this}}{{/each}}">
				<div class="courseNumber">CS {{number}}</div>
				<div class="courseTitle">{{title}}</div>
			</div>
		{{/each}}
	</div>
</section>

<section>
	<h2>Awards</h2>
	<p>Thomas S. Monson Presidential Scholarship, Brigham Young University, August 2009</p>
	<p>Eagle Scout, Boy Scouts of America, 2008</p>
</section>
<section>
	<h2>Volunteer Work</h2>
	<p>Missionary for the Church of Jesus Christ of Latter-day Saints in South Africa and Botswana, August 2010–August 2012</p>
</section>



